<div class="main">
    <div class="container-fluid">
    <div class="row mt-5">
       
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4" style=" color: white;">
                
            
            <form >
                <h1>what do you say?</h1>
                <div class="element">
                    Name <br> <input [(ngModel)]="review.name" class="form-control" type="text" style="border-radius: 5px;" name="name">
                </div>
                <div class="element">
                    Ratings <br> 
                    <select  input [(ngModel)]="review.rating" type="text" style="border-radius: 5px;" name="rating">
                            
                            <option >Rating 1</option>
                            <option >Rating 2</option>
                            <option >Rating 3</option>
                            <option >Rating 4</option>
                            <option >Rating 5</option>
                            
                          </select>
                </div>
                <div class="element">
                    <!-- <app-reviewpanel [review]="r"></app-reviewpanel> -->
                    Review 
                    <br>
                     <textarea [(ngModel)]="review.review" class="form-control" type="text-area" style="border-radius: 5px;" name="review">
                    </textarea>
                    </div>
                <button class="btn btn-danger" (click)="onReviewSubmit()"  style="margin: 10px;" >Submit</button>
                
            </form>
        
    </div>
        <div class="col-sm-4">
           
        </div>
    </div>
</div>
</div>