<div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
            <h1>
                    LOOKUP
            </h1>
            <br>
            <h3>
                    LOOKUP  is an application that will list nearby places with WiFi where people can go and get some work done. It will also display facilities, opening times, a rating, and a location map for each place. 
            </h3>
        </div>
        <div class="col-sm-6">
            <img src="assets/about.gif" style="width: 500px;height: 400px;">
        </div>
        
    </div>
</div>
